.fourteener-main {
    width: 100%;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

@media only screen and (max-width: 700px)  {
    .fourteener-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


    }
    .fourteener-map {
        min-width: 500px;
    }
}

.fourteener-container, .fourteener-map {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 3px solid skyblue;
    border-radius: 6px;
    align-items: center;
    margin: 10px;
    background-color: lightgray;
}

// .fourteener-container {
//     background-color: ;
// }

.rockies {
    height: 100%;
    width: 100%;
}

.fourteener-map {
    justify-content: center;
    width: calc(100% - 506px);
}


.fourteener-image {
    max-width: 100%;
    border-radius: 6px;
}

.metrics-container {
    display: flex;
    flex-direction: column;
}