.fourteener-main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fourteener-container, .fourteener-map {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    align-items: center;
    justify-content: center;
}

// @media only screen and (max-width: 999px) {
//     .fourteener-main {
//         flex-direction: row !important;
//     }
// }

.fourteener-image {
    max-width: 100%;
    border-radius: 6px;
}

.metrics-container {
    display: flex;
    flex-direction: column;
}