.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 4px 6px -6px #222;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    background-color: skyblue;
    width: 100%;
    // margin: 10px 10px 0 10px;
}

.navigation-heading-select {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.heading-title {
    margin-right: 10px;
    // margin-left: 10px;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}