.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 4px 6px -6px #222;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    background-color:#6FA0BF;
    width: 100%;
    // margin: 10px 10px 0 10px;
}

.navigation-heading-select {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.heading-title {
    margin-right: 10px;
    // margin-left: 10px;
    font-size: 28px;
    font-weight: bold;

}

.info-icon:hover {
    cursor: pointer;
}

.bio-links {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.bio-links > a {
    text-decoration: none;
    color: #162129;
    padding-left: 10px;
}