.weather-container {
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    width: 100%;
}

.weather-current {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid skyblue;
    border-radius: 6px;
    width: 300px;
    margin: 10px;
}

.weather-forcast {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid skyblue;
    border-radius: 6px;
    width: calc(100% - 306px);
    margin: 10px;
}

.weather-current, .weather-forcast {
    background-color: rgb(109, 179, 5);
}