.weather-container {
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    width: 100%;
}

.weather-current {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    border-radius: 6px;
    width: 300px;
    margin: 10px;
}

.weather-forcast {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    border-radius: 6px;
    width: calc(100% - 302px);
    margin: 10px;
}