@import "./styles/reset.scss";
@import "./styles/navigation.scss";
@import "./styles/fourteener.scss";
@import "./styles/weather.scss";
@import "./styles/footer.scss";
@import "./styles/select.scss";

body {
    width: 100%;
    min-height: 100vh;
    background-color: #026873;
    color: #162129;
}

// color scheme 1
// lightblue #7A9FBF
// darkerblue #5B7BA6
// darkblue #305473
// gold #F2A922
// orangeyellow #BF7D2C

// color scheme 2
// lightblue #049DD9
// blue #05C7F2
// lightgreen #A69C14
// green #8C7916
// brown #8C530D

// color scheme 3
// lightblue #049DD9
// blue #05C7F2
// lightgreen #A69C14
// green #8C7916
// brown #8C530D

// color scheme 4
// lightblue #6FA0BF
// teal #026873
// green #515915
// yellow #F28705
// orange #F27405