@import "./styles/reset.scss";
@import "./styles/navigation.scss";
@import "./styles/fourteener.scss";
@import "./styles/weather.scss";
@import "./styles/footer.scss";
@import "./styles/select.scss";

body {
    width: 100%;
    min-height: 100vh;
    background-color: #EBA487;
}